.music-container{
    margin:60px auto 30px;
    border: 1px solid ;
    border-radius: 3px;

        width: 60%;
        min-width: 666px;
     border: 1px solid var(--lightishblue);
     border-radius: 5px;
     padding: 30px;
     background: linear-gradient(217deg, rgba(196,185,228,.7), rgba(185,226,221,.9) 70.71%),
            linear-gradient(127deg, rgba(185,226,221,.7), rgba(189,204,225,0.9) 70.71%),
            linear-gradient(336deg, rgba(189,204,225,0.7), rgba(196,185,228,.9) 70.71%);
     /* background-color: linear-gradient(yellow, red); */
     box-shadow: 0 15px 30px rgba(189, 204, 225, 0.5);
     color: var(--lightbg);
    color:rgb(196, 185, 228);
    color: rgb(185, 226, 221);
}

.new-comment-form p{
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 0;
}

.new-comment-form{
    box-shadow: 1px 1px 5px var(--lightishblue);
}

.comment-section{
    margin-bottom: 0;
    padding-bottom: 0;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-section input {
    height: 100%;
}

.btn.add-comment-button{
    font-size: 12px;
    padding: 3px;
    position: relative;
    top: 11px;
}
.comment-display{
    margin: 30px auto;
    width: 70%;

}

.comment-user{
    font-size: .7em;
    padding-left: 38px;
    color: var(--lightblue);
}

.comment-body{
    font-size: .75em;
    padding-left: 52px;
    padding-right: 25px;

}

.comment-login {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  width: 200px;
  height: 27px;
  font-weight: 200;
  font-size: 14px;
}

.comment-login .btn{
    position: relative;
    top: 15px;
    right: -24px;}

.comment-row{
    border-top : 1px var(--lightindigofade) solid;
    border-bottom : 1px var(--lightpurple) solid;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.comment-delete-btn{
    position: relative;
    top: 15px;
    right: 15px;
}

.confirm-delete{
    position: absolute;
    font-size: .8em;
   background-color: var(--lightishblue);
   right: 220px;
   border: 2px var(--midindigo) solid;
   border-radius: 3px;
   color: var(--midblue);
   width: 150px;
   padding-left: 12px;
   padding-right: 5px;
   height: 90px;
}

@media screen and (max-width: 1400px){
    .confirm-delete{
        right:130px;
    }
    
}



.btn-del {
    background-color: var(--midblue);
    color: white;
    padding: 5px;
    font-size: .7em;
    border-radius: 5px;
    border: 1px solid #006BB8;
    margin-right: 8px;
}

.comments-container {
    margin-bottom: 200px;
}


/* custom audio player */
 /* :root {
     --active-color: #a2b3ca;
 } */

 .play-btn {
     border: none;
     cursor: pointer;
     height: 130px;
     width: 130px;
     font-size: 5em;
     border-radius: 65px;
     background-color: var(--lightblue);
     color: var(--lightishblue);
 }

 .audio-player {
     max-width: 70%;
     border: 1px solid var(--lightishblue);
     border-radius: 5px;
     padding: 30px;
     box-shadow: 0 15px 30px rgba(162, 179, 202, .5);
     margin: auto;
     color: var(--lightbg);
 }

 .artwork {
     border-radius: 5px;
     /* display: block;
     margin: auto; */
     height: 300px;
     width: 300px;
     position: relative;
     bottom: 100px;
     left: 50%;
 }

 .track-info {
     text-align: center;
     z-index: 1;
     position: relative;
     left: 10%;
 }

 .title {
    font-weight: 700;
    background-color: var(--darkblue);
    width: fit-content;
    padding: 5px 10px;
 }
 .artist {
    font-weight: 700;
    background-color: var(--darkblue);
    width: fit-content;
    padding: 5px 10px;
 }

