.cover-image {
    background-image: url(https://images.pexels.com/photos/164828/pexels-photo-164828.jpeg);
    position: relative;
    width: 800px;
    height: 400px;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 3px 3px 6px;
    margin: 100px auto;
    
}

#splash-text{
    position: relative;
    top: 85%;
    left: 50px;
    color: var(--lightbg);
    
}

.splash-overlay {
    position: relative;
    width: 800px;
    height: 400px;
background: linear-gradient(217deg, rgba(196,185,228,0.15), rgba(185,226,221,0.15) 70.71%),
            linear-gradient(127deg, rgba(185,226,221,0.15), rgba(189,204,225,0.15) 70.71%),
            linear-gradient(336deg, rgba(189,204,225,0.15), rgba(196,185,228,0.15) 70.71%);
    border-radius: 16px;
    margin: 0 auto; 
    top: -500px;
}