.cover-image {
    background-image: url(https://images.pexels.com/photos/164828/pexels-photo-164828.jpeg);
    position: relative;
    width: 800px;
    height: 400px;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 3px 3px 6px;
    margin: 100px auto 0px;
    
}

:root {
    --footer1: rgb(109, 105, 126);
    --footer2: rgb(106, 120, 133);
    --footertext: #c4d0e1;
    
}

#splash-text{
    position: relative;
    top: 85%;
    left: 50px;
    color: var(--lightbg);
    
}

.splash-overlay {
    position: absolute;
    width: 800px;
    height: 400px;
background: linear-gradient(217deg, rgba(196,185,228,0.15), rgba(185,226,221,0.15) 70.71%),
            linear-gradient(127deg, rgba(185,226,221,0.15), rgba(189,204,225,0.15) 70.71%),
            linear-gradient(336deg, rgba(189,204,225,0.15), rgba(196,185,228,0.15) 70.71%);
    border-radius: 16px;
    top: 125px;
    
}

.footer-backer{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height: 25px;
    background: linear-gradient(217deg, var(--footer1), var(--footer2) 70.71%),
            linear-gradient(127deg, var(--footer2), var(--footer1) 70.71%);
    margin: 0;

}
.footer {
    color: var(--midpurple);
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 5px auto;
}

.footer li, .footer a{
    color: var(--footertext);
    font-size: 12px;
    font-weight: 300;
}

.header-text {
    position: relative;
    margin: 0;
    /* padding: 100px; */
}

.splash-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.splash-text {
    text-align: center;
    margin: 48px auto;
}

.featured-tracks-container {
    background: linear-gradient(217deg, rgba(196,185,228,0.15), rgba(185,226,221,0.15) 70.71%),
            linear-gradient(127deg, rgba(185,226,221,0.15), rgba(189,204,225,0.15) 70.71%),
            linear-gradient(336deg, rgba(189,204,225,0.15), rgba(196,185,228,0.15) 70.71%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.featured-tracks-container h2 {
    position: absolute;

}

.splash-body h2, .splash-body h3 {
    text-align: center;
    color: var(--darkindigo);
}
.splash-body p {
    text-align: center;
    color: var(--darkblue);
}

.featured-tracks {
    display: flex;
    justify-content: space-around;
}

#calling-creator-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1088px;
    margin: 70px auto;
    border-radius: 16px;
    background: linear-gradient(217deg, var(--darkestfoam), var(--darkestindigo) 70.71%),
            linear-gradient(127deg, var(--darkestindigo), var(--darkestblue) 70.71%),
            linear-gradient(336deg, var(--darkestblue), var(--darkestfoam) 70.71%);
}

#calling-creator-container h4, #calling-creator-container h3, #calling-creator-container p {
    color: var(--lightishblue);
}

#creator-image {
    height: 300px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    filter: hue-rotate(-134deg);
    width: 41%;
}

#creators-text {
    width: 59%;
    margin-top: 38px;
}
#creators-text p {
    line-height: 0.8em;
}

#splash-account-links {
    margin-top: 35px;
}

a.splash-btn {
    appearance: button;
    background-color: var(--lightblue);
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--darkindigo);
    transition: all 0.3s;
}

a.splash-btn:hover {
    background-color: var(--lightestindigo);
    border: 1px solid var(--darkindigo);
    box-shadow: 0 0 8px var(--lightblue);
    color: var(--darkindigo);
}




.footer-spacer {
    width: 100%;
    height: 100px;
}