.cover-image {
    background-image: url(https://images.pexels.com/photos/164828/pexels-photo-164828.jpeg);
    width: 700px;
    height: 350px;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 3px 3px 6px;
    margin: 50px auto;
    
}

#splash-text{
    position: relative;
    top: 85%;
    left: 50px;
    color: var(--lightbg);
    
}
