/* TODO Add site wide styles */
.btn {
    background-color: #006BB8;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #006BB8;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}

.form-errors {
    color: red;
}