@import url('./theme.css');
/* :root {
    --midblue: #006BB8;
} */
/* TODO Add site wide styles */
.btn {
    background-color: var(--midblue);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #006BB8;
}

.form-errors {
    color: red;
}
