@import url('./theme.css');


.btn {
    background-color: var(--midblue);
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--midindigo);
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--midindigo);
    border: 1px solid var(--darkindigo);
}

.form-errors {
    color: red;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

a:visited {
    color: var(--visitedlink);
}

body {
    margin: 0;
    
}

html {
    background: linear-gradient(217deg, var(--backindigo), var(--backfoam) 70.71%),
            linear-gradient(127deg, var(--backfoam), var(--backblue) 70.71%),
            linear-gradient(336deg, var(--backblue), var(--backindigo) 70.71%);
    /* background-size: cover; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    border: .5px solid var(--lightishblue);
    border-radius: 5px;
    box-shadow: 1px 1px 25px var(--lightblue);
    width: fit-content;
    margin: 10px auto;
    padding-left: 15px;
    padding-right: 15px;
}
label {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkblue);
    font-size: smaller;
}
html {
    display: flex;
    flex-direction: column;
   
}
select, input {
    margin-top: 6px;
    margin-bottom: 12px;
    border: 0.2px var(--inputindigo) solid;
    border-radius: 2px;
    box-shadow: 0px 0px 15px var(--inputindigo);
}


button {
    margin-bottom: 30px;
    cursor: pointer;
}

.user-forms {
    margin-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
}