:root {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--lightbg);

--inputindigo: rgba(194, 187, 217, 0.75);

            --backindigo: rgba(194, 187, 217, 0.0075);
            --backblue:rgba(179, 190, 206, 0.0075);
            --backfoam: rgba(188, 212, 210, 0.0075);

    --lightestpurple: #F9E3FF;
    --lightestindigo: #DFDCF5;
    --lightestblue: #F1F8FD;
    --lightestfoam: #CFE6DF;
    --lightestgreen: #E5FEE4;

    
    --lightishblue: #a2b3ca;

    --lightpurple: #764878;
    --lightindigo: #7665A6;
    --lightblue: #5F748F;
    --lightfoam: #65A59E;
    --lightgreen: #5F9C68;

    --midpurple: #66156E;
    --midindigo: #381F9C;
    --midblue: #215185;
    --midfoam: #1F9C86;
    --midgreen: #1d9128;

    --darkpurple: #3B0C40;
    --darkindigo: #28166E;
    --darkblue: rgb(22, 53, 87);
    --darkfoam: #166E5E;
    --darkgreen: #14631B;

    --darkestpurple: #070108;
    --darkestindigo: #0f0636;
    --darkestblue: #05121f;
    --darkestfoam: #06362c;
    --darkestgreen: #063309;

    --lightbg: #F1F8FD;
    --footerbg: #215185;

    --visitedlink: #D5DCE0;
    --lightindigofade: rgba(118, 101, 166, .5);

}
