
.top-bar {
    background-color: var(--darkblue);
    z-index: 1;
    width: 60%;
    height: 7px;
    margin: 0 auto;
    padding: 0 15px;
}
.left-nav-links {
    display: flex;
}
.left-nav-links li {
    margin-left: 25px;
    margin-right: 25px;
}

nav {
    display: flex;
    width: 60%;
    height: 30px;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--lightblue);
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-dropdown{
    position: fixed;
    list-style: none;
    top: -10px;
    right: 5%;
    background-color: var(--darkblue);
    color: var(--lightbg);
    border-radius: 5px;
    padding: 10px;
    /* font-size: 13px; */
}

.login-links{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}